.container {
    padding: 2vh 5vw;
}

.title-image {
    width: 90vw;
}

.title-image img {
    max-width: 90vw;
    max-height: 300px;
}

.post-body {
    padding: 10px 0;
}

.similar h4 {
    margin-bottom: 10px;
}

.similar .similar-post {
    margin-bottom: 10px;
}

.btn-set {
    padding: 10px 0;
}

.btn-set .btn {
    margin: 0;
}

.left {
    display: flex;
}

.left .btn {
    margin-top: 0;
}

.tags {
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags .tag {
    margin: 5px;
}